{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="text-center mb-4">Sign In</h3>
                {% if bad_login %}
                <div style="
                    background-color: #f8d7da;
                    color: #842029;
                    border: 1px solid #f5c2c7;
                    padding: 12px 16px;
                    border-radius: 6px;
                    margin: 10px 0;
                    font-weight: 500;
                ">
                    Invalid email or password.
                </div>
                {% endif %}
                <form action="{{ url_for('submit_login') }}" method="POST">
                    <div class="mb-3">
                        <label class="form-label">WSU Email</label>
                        <input name="email" type="email" class="form-control" placeholder="name@wsu.edu" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input name="password" type="password" class="form-control" required>
                    </div>
                    <div>
                        <input type="checkbox" id="stay_logged_in" name="stay_logged_in"/>
                        <label for="stay_logged_in" class ="form-label">Stay logged in</label>
                      </div>
                    <button type="submit" class="btn btn-primary w-100 mb-3">Login</button>
                </form>
                <hr>
                <p class="text-center small">New researcher? <a href="{{ url_for('register') }}">Register here</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}